#funcSpace {
    height: 100vh;
}


.general-container{

    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}

.carrouselcontainer-left{
    width: 100%;
}
 .carrouselcontainer-right{
    display: flex;
    gap: 140px;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    background: rgba(2, 0, 8, 0.685);
    padding: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

} 